<h1><%#= t('activerecord.title.user.new') %></h1>
<h1>ログイン</h1>
<hr>

<div class="jumbotron">
  <%= form_with(scope: :session, local: true, url: sessions_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control", placeholder: t("errors.messages.need_password_format").slice(1..39) %>
    </div>

    <%= f.submit "ログインする" %>
    <%#= f.submit t('helpers.submit.user_create') %>
  <% end %>
</div>
