<% if task.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(task.errors.count, t('errors.messages.can_not_create_because_have_any_error')) %></h2>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron">
  <%= form_with(model: task, local: true, url: change_root ) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :detail %>
      <%= f.text_field :detail, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :priority %>
      <%= f.select :priority, Task.priorities_i18n.invert, {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :situation %>
      <%= f.select :situation, Task.situations_i18n.invert, {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :deadline %>
      <%= f.datetime_field :deadline, class: "form-control" %>
    </div>

    <% if current_user.labels.present? %>
      <h2>ラベルもつける</h2>
      <%= f.fields_for :labels do |form| %>
        <%= f.collection_check_boxes :label_ids, current_user.labels, :id, :name %>
      <% end %>
      <br>
    <% end %>

    <% case action_name %>
    <% when "new","create" %>
      <%= f.submit t('helpers.submit.create') %>
    <% when "edit" %>
      <%= f.submit t('helpers.submit.update') %>  
    <% end %>
  <% end %>

  <%= link_to t('helpers.submit.task_index'), tasks_path %>
</div>
