<h1><%= t('activerecord.title.user.show') %></h1>
<hr>

<div class="jumbotron">
  <h4>お名前：<%= @user.name %></h4>
  <h4>メールアドレス：<%= @user.email %></h4>
  <br>
  <%= link_to "プロフィールを編集する", edit_user_path(@user) %>
  <br>
  <%= link_to "アカウントを削除する", user_path(@user), method: :delete, data: { confirm: t("helpers.submit.really?") } %>
</div>