<h1><%= t('activerecord.title.user.show') %></h1>
<hr>

<div class="jumbotron">
  <h4><%= t('activerecord.attributes.user.name') %>：<%= @user.name %></h4>
  <h4><%= t('activerecord.attributes.user.email') %>：<%= @user.email %></h4>
  <br>
  <%= link_to t('helpers.submit.user_edit'), edit_user_path(@user) %>
  <br>
  <%= link_to t('helpers.submit.user_destroy'), user_path(@user), method: :delete, data: { confirm: t("helpers.submit.really?") } %>
</div>